In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./dataset.csv')
df.head(100)

,Unnamed: 0,അഭിനേതാക്കള്‍,ഗാനരചന,ഗായകര്‍,വരികൾ,വര്‍ഷം,സംഗീതം,സിനിമ,രാഗം,വര്‍ഗ്ഗീകരണം
0,0,"സുരേഷ് ഗോപി ,നെടുമുടി വേണു ,കവിയൂർ പൊന്നമ്മ ,വ...",ഗിരീഷ് പുത്തഞ്ചേരി,കെ ജെ യേശുദാസ്,മായും മായാമേഘങ്ങളേ\nമണ്ണില്‍ പൊഴിയും മാമ്പൂക്ക...,2011.0,രഘുകുമാർ,കലക്ടർ,NaN,NaN
1,1,NaN,രാപ്പാള്‍ സുകുമാരമേനോന്‍,കെ ജെ യേശുദാസ്,വരൂ വരൂ കണ്മണി കണി തരും പൊന്മണി\nമീട്ടിടാം കളമ...,1988.0,ജെറി അമല്‍ദേവ്‌,ശംഖനാദം,NaN,NaN
2,2,NaN,മുതുകുളം രാഘവൻ പിള്ള,NaN,\n\nമാരന്‍ ഘോരശരങ്ങള്‍കൊണ്ടുടലിനെ\nഭസ്മീകരിപ്...,1938.0,"കെ കെ അരൂര്‍ ,ഇബ്രാഹിം",ബാലന്‍,കാംബോജി,NaN
3,3,NaN,പി ഭാസ്കരന്‍,എസ് ജാനകി,മാവു പൂത്തു മാതളം പൂത്തു\nതാന്നി പൂത്തു തമ്പകം...,1970.0,എം എസ്‌ ബാബുരാജ്‌,അമ്പലപ്രാവ്,NaN,NaN
4,4,NaN,രാജീവ് ആലുങ്കൽ,"എസ്‌ ജയന്‍ ,അഞ്ജന",പൊൻ‌വസന്ത കാലമായിതാ...\nനന്മയാർന്ന ഗ്രാമവീഥിയി...,2007.0,എസ്‌ ജയന്‍,ഇന്ദ്രജിത്ത്‌,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
95,95,"ബിന്ദുപണിക്കർ,ടി എസ് രാജു",ഗിരീഷ് പുത്തഞ്ചേരി,എസ് ജാനകി,കണ്ണേ കണ്മണിമുത്തേ മുന്തിരിവാവേ\nനിന്നേ നെഞ്ചി...,2001.0,കെ എല്‍ ശ്രീറാം,മഴമേഘപ്രാവുകള്‍,NaN,NaN
96,96,NaN,വി സി അഭിലാഷ്,"സൂരജ് സന്തോഷ് ,ഹരിത ബാലകൃഷ്ണൻ,കോറസ്‌",ഇവിടെ ക്ലിക്ക് ചെയ്തു ചേര്‍ക്കാം,2022.0,ശ്രീനാഥ് ശിവശങ്കരൻ,സബാഷ് ചന്ദ്രബോസ്,NaN,NaN
97,97,NaN,പി ഭാസ്കരന്‍,മെഹബൂബ്‌,വണ്ടീ പുകവണ്ടീ\nവണ്ടീ വണ്ടീ നിന്നെപ്പോലെ വയറില...,1963.0,ജി ദേവരാജന്‍,ഡോക്ടര്‍,NaN,NaN
98,98,NaN,ബി കെ ഹരിനാരായണന്‍,"എം ജി ശ്രീകുമാർ ,ശ്രേയ ജയദീപ്",ചുന്ദരി വാവേ ചുന്ദരി വാവേ\nചായോ ചായുറങ്ങ്...\n...,2017.0,4 മ്യൂസിക്സ്,സദൃശവാക്യം 24:29,NaN,NaN
99,99,NaN,രാജേഷ് ക്രൌൺ,"പാപ്പാ ബലൂഷി ,അങ്കിത്ത്",ഇവിടെ ക്ലിക്ക് ചെയ്തു ചേര്‍ക്കാം,2017.0,ഷിബു സുകുമാരൻ,ലൗ ബോണ്ട,NaN,NaN

In [3]:
df.describe()

         Unnamed: 0       വര്‍ഷം
count  26232.000000  26152.000000
mean   13115.500000   1994.658649
std     7572.670467     18.434291
min        0.000000   1938.000000
25%     6557.750000   1980.000000
50%    13115.500000   1997.000000
75%    19673.250000   2012.000000
max    26231.000000   2022.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26232 entries, 0 to 26231
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     26232 non-null  int64
 1   അഭിനേതാക്കള്‍  8498 non-null   object
 2   ഗാനരചന         25832 non-null  object
 3   ഗായകര്‍        24981 non-null  object
 4   വരികൾ          26029 non-null  object
 5   വര്‍ഷം         26152 non-null  float64
 6   സംഗീതം         26170 non-null  object
 7   സിനിമ          26232 non-null  object
 8   രാഗം           3662 non-null   object
 9   വര്‍ഗ്ഗീകരണം   2361 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 2.0+ MB

In [5]:
df.isna().sum()

Unnamed: 0           0
അഭിനേതാക്കള്‍    17734
ഗാനരചന             400
ഗായകര്‍           1251
വരികൾ              203
വര്‍ഷം              80
സംഗീതം              62
സിനിമ                0
രാഗം             22570
വര്‍ഗ്ഗീകരണം     23871
dtype: int64

In [6]:
df['വര്‍ഷം ']
df['വര്‍ഷം '].fillna(0,inplace=True)

In [7]:
df.isna().sum()

Unnamed: 0           0
അഭിനേതാക്കള്‍    17734
ഗാനരചന             400
ഗായകര്‍           1251
വരികൾ              203
വര്‍ഷം               0
സംഗീതം              62
സിനിമ                0
രാഗം             22570
വര്‍ഗ്ഗീകരണം     23871
dtype: int64

In [8]:
#df.astype({'വര്‍ഷം ': 'int32'}).dtypes
df['വര്‍ഷം '] = df['വര്‍ഷം '].astype('int32')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26232 entries, 0 to 26231
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     26232 non-null  int64
 1   അഭിനേതാക്കള്‍  8498 non-null   object
 2   ഗാനരചന         25832 non-null  object
 3   ഗായകര്‍        24981 non-null  object
 4   വരികൾ          26029 non-null  object
 5   വര്‍ഷം         26232 non-null  int32
 6   സംഗീതം         26170 non-null  object
 7   സിനിമ          26232 non-null  object
 8   രാഗം           3662 non-null   object
 9   വര്‍ഗ്ഗീകരണം   2361 non-null   object
dtypes: int32(1), int64(1), object(8)
memory usage: 1.9+ MB

In [10]:
df.sample()

,Unnamed: 0,അഭിനേതാക്കള്‍,ഗാനരചന,ഗായകര്‍,വരികൾ,വര്‍ഷം,സംഗീതം,സിനിമ,രാഗം,വര്‍ഗ്ഗീകരണം
6994,6994,NaN,വയലാര്‍ രാമവര്‍മ്മ,കോറസ്‌,മുട്ടുവിൻ വാതിൽ തുറക്കും\nഅതിർപ്പിൻ നിങ്ങൾക്കു...,1971,എം എസ്‌ ബാബുരാജ്‌,ലോറാ നീ എവിടെ,NaN,സംഘഗാനങ്ങള്‍

In [11]:
df.drop("Unnamed: 0",axis=1,inplace=True)

In [12]:
df.isna().sum()

അഭിനേതാക്കള്‍    17734
ഗാനരചന             400
ഗായകര്‍           1251
വരികൾ              203
വര്‍ഷം               0
സംഗീതം              62
സിനിമ                0
രാഗം             22570
വര്‍ഗ്ഗീകരണം     23871
dtype: int64

In [13]:
df.drop(columns=['അഭിനേതാക്കള്‍', 'രാഗം','വര്‍ഗ്ഗീകരണം'],inplace=True)

In [14]:
df.isna().sum()

ഗാനരചന      400
ഗായകര്‍    1251
വരികൾ       203
വര്‍ഷം        0
സംഗീതം       62
സിനിമ         0
dtype: int64

In [15]:
df.dropna(axis=0, how="any", inplace=True)

In [16]:
df.isna().sum()

ഗാനരചന     0
ഗായകര്‍    0
വരികൾ      0
വര്‍ഷം     0
സംഗീതം     0
സിനിമ      0
dtype: int64

In [17]:
df.shape

(24587, 6)

In [18]:
df['വരികൾ'].value_counts()['ഇവിടെ ക്ലിക്ക് ചെയ്തു ചേര്‍ക്കാം']

6054

In [19]:
cond = df[ (df['വരികൾ'] == 'ഇവിടെ ക്ലിക്ക് ചെയ്തു ചേര്‍ക്കാം') ].index
df.drop(cond, axis=0, inplace=True)

In [20]:
df.shape

(18533, 6)

In [21]:
#df_num = df[df['വരികൾ'].str.contains('\d')]
#df_num.shape

In [22]:
#df_num2 = df[df['വരികൾ'].str.contains('\(\d\)')]
#df_num2.sample(1).values[0]

In [23]:

#df_num = df_num[~df_num['വരികൾ'].isin(df_num2['വരികൾ'])]

In [24]:
#df_num.sample(1).values[0]

In [25]:
df_num2 = df[df['വരികൾ'].str.contains('(.*)(\[\d\])')]

C:\Users\abhin\AppData\Local\Temp\ipykernel_17208\2746192268.py:1: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  df_num2 = df[df['വരികൾ'].str.contains('(.*)(\[\d\])')]

In [32]:
df_num2.sample(1).values[0]

array(['വേണുഗോപാല മേനോൻ (പി വേണു)', 'വാണി ജയറാം ',
       'അറിഞ്ഞൂ സഖീ അറിഞ്ഞു\nഅറിയാത്ത ഭാവത്തില്\u200d\nനിന്\u200d കണ്\u200d\u200cമുനകളില്\u200d\nമറച്ചുവച്ച രഹസ്യം\nമധുരമധുരമൊരു പ്രേമരഹസ്യം\n(അറിഞ്ഞൂ...)\n\nപുളകങ്ങള്\u200d പൂത്തുവിരിഞ്ഞു\nമെയ്യാസകലം... മെയ്യാസകലം...\nമദനപ്പൂ പൊട്ടിവിരിഞ്ഞു\nമേലാസകലം... മേലാസകലം...\nമലരമ്പന്\u200d തൊടുത്തുവിട്ട\nപുഷ്പബാണം... പുഷ്പബാണം\nമദിരാക്ഷീ നിന്\u200d നെഞ്ചിലേറ്റത്\nഞങ്ങളറിഞ്ഞു... ഞങ്ങളറിഞ്ഞു...\n(അറിഞ്ഞൂ...)\n\nകുങ്കുമപ്പൂത്താലി ചാര്\u200dത്തിയ\nമധുരപ്പതിനേഴില്\u200d... [2]\nകാമദേവന്\u200d കരിമഷിയെഴുതി\nനിന്\u200d മിഴിയിണയില്\u200d... [2]\nസുഹാസിനി നീ നടന്നു\nനീങ്ങുമ്പോള്\u200d... നീങ്ങുമ്പോള്\u200d...\nനിന്\u200d മനസ്സിലുള്ളൊരു വിശ്വാമിത്രനെ\nഞങ്ങളറിഞ്ഞു... ഞങ്ങളറിഞ്ഞു...\n(അറിഞ്ഞൂ...)',
       1978, 'എം കെ അർജ്ജുനൻ ', 'ആള്\u200dമാറാട്ടം'], dtype=object)

In [33]:
import re

count = 0
for x in df['വരികൾ']:
    for match in re.finditer(r'\n(.*)(\[\d\])\n', x):
        count += 1
        print("match", count, match.group(), "start index", match.start(), "End index", match.end())

match 1
മധുരാഗത്തേന്‍ തേടുവാന്‍ ... ഓ...[2]
 start index 436 End index 473
match 2
മണ്ണിലീ പെണ്ണിനെന്നും മഹനീയ ബന്ധം നൽകും [2]
 start index 181 End index 226
match 3
നീ വളർന്നെന്റെ മുന്നിൽ തണലായി നിൽക്കുബോളും [2]
 start index 335 End index 383
match 4
കനിവിന്‍ ദീപ നാളം കണ്ണില്‍ കരുതി നിന്നായവര്‍ [2]
 start index 436 End index 486
match 5
സഹജര്‍ നിന്റെ വഴികളിലൊന്നായ് വിജയമോതും ദിനം [2]
 start index 652 End index 701
match 6
ശിവമല്ലിപ്പൂവുകളായി... [2]
 start index 103 End index 131
match 7
പട്ടാഭിഷേകം... പട്ടാഭിഷേകം... [2]
 start index 292 End index 327
match 8
അനിർവ്വചനീയമാം അസുലഭപുഷ്പമേ [2]
 start index 43 End index 76
match 9
പുരികക്കൊടിയോ കാർക്കൂന്തളമോ [2]
 start index 180 End index 213
match 10
നിറമാറിടമോ നീൾമിഴിമുനയോ[2]
 start index 301 End index 329
match 11
ഒരുപാടെനിക്കിഷ്ടമായി [2]
 start index 51 End index 77
match 12
ഒരുപാടെനിക്കിഷ്ടമായി [2]
 start index 511 End index 537
match 13
എന്നിൽ കുറുകി നിൻ പ്രേമം... [2]
 start index 198 End index 231
match 14
നിന്നിലുണരുമ്പോൾ [2]
 start index 230 End index 252
match 15
ഗന്ധർവസ്വരമന്ത്രം [2]
 start index 382 End index 405
match 16
തിടമാന്‍‌ പോലത്തെ മൊഞ്ച് കുടമാതളം പോല്‍ നെഞ്ച് [2]
 start index 246 End index 298
match 17
മുംതാസിന്‍ മാണിക്യം ഹൂറി എന്നെ ഷാജഹാന്‍‌ ആക്കുന്ന ബീബി [2]
 start index 545 End index 605
match 18
പ്രാണ ഹർഷം ഏകിടുവാൻ ദേവതയായ്‌ നീ അരികിൽ[2]
 start index 120 End index 164
match 19
തെന്നൽ വന്നു വേൺചാമരം വീശിടുന്നു ഈ വേളയിൽ [2]
 start index 244 End index 291
match 20
ഉണ്ണിക്കിനാവിലൊരൂഞ്ഞാല്‌ ചന്ദന പടിയുള്ളൊരൂഞ്ഞാല്‌ [2]
 start index 125 End index 180
match 21
അമ്മക്കിളിയേയും കണ്ടു വായോ [2]
 start index 212 End index 244
match 22
താമരകിണ്ണത്തിൽ എന്താണ്‌ മാമുണ്ണാൻ ഉണ്ണിക്കു പാൽച്ചോറ് [2]
 start index 351 End index 410
match 23
എന്നുണ്ണി പൊന്നുണ്ണി പോയിവായോ [2]
 start index 448 End index 483
match 24
കാവ്യ തല്ലജമാക്കി [2]
 start index 173 End index 196
match 25
കൂട്ടുകാരിയായ് മാറി [2]
 start index 344 End index 369
match 26
അനുരാഗം... മഴയായി... [2]
 start index 626 End index 652
match 27
നിശയാകെ... നിറവോടെ... [2]
 start index 1109 End index 1136
match 28
മധുരപ്പതിനേഴില്‍... [2]
 start index 368 End index 393
match 29
നിന്‍ മിഴിയിണയില്‍... [2]
 start index 415 End index 442
match 30
തം തനനനം തനാനന തം തനനനം [2]
 start index 276 End index 305
match 31
തം തനനനം തനാനന തം തനനനം [4]
 start index 599 End index 628
match 32
തം തനനനം തനാനന തം തനനനം [4]
 start index 872 End index 901
match 33
ഝികി ഝികി തക്കം തെയ് [3]
 start index 89 End index 115
match 34
ഞാൻ വന്നൊരു ഗദ്ഗദമായ് [2]
 start index 71 End index 98
match 35
അത്രമേൽ സ്നേഹിച്ചതെന്തിനെന്നെ? [2]
 start index 61 End index 97
match 36
ജീവ തന്തിയില്‍ ഇടറുമൊരു മിഴി നീര്‍കണം പോല്‍ നിന്നു ഞാന്‍ [2]
 start index 49 End index 111
match 37
റസൂലേ റസൂലേ [2]
 start index 50 End index 67
match 38
ത്വാഹാ മുഹമ്മദ്‌ മുസ്തഫാ ....[2]
 start index 239 End index 273
match 39
പാരാകെ പാടുകയായ്‌ വന്നല്ലോ റബ്ബിന്‍ ദൂതന്‍ [2]
 start index 333 End index 381
match 40
സ്വർഗ്ഗീയ സൗന്ദര്യം [2]
 start index 324 End index 349
match 41
ഈ മധുരവും ഒരു നാളിൽ കൈയ്ക്കും [2]
 start index 463 End index 498
match 42
ആ പ്രേമചഷകം എവിടെ [2]
 start index 552 End index 575
match 43
തന നാനെ നാനെ ന നാനെ [2]
 start index 331 End index 356
match 44
തന നാനെ നാനെ ന നാനെ [2]
 start index 570 End index 595
match 45
പൊന്നരഞ്ഞാണം തീര്‍ക്കും [2]
 start index 401 End index 430
match 46
പുടവമുറി ഞാന്‍ നെയ്യും [2]
 start index 605 End index 633
match 47
സായാഹ്നമായ് താലോലമായ് [2]
 start index 210 End index 237
match 48
ഊഞ്ഞാലിടാം പൂപ്പാലയില്‍ [2]
 start index 372 End index 401
match 49
അറിയാതെ ഞാനുണര്‍ന്നു .. [2]
 start index 284 End index 313
match 50
ഒരു മഞ്ഞക്കിളിയുടെ തൂവൽ പോലെ. [2]
 start index 39 End index 74
match 51
ശ്യാമ ഹരിതമാം മെയ്യിൽ മുറിവുകളായ് [2]
 start index 418 End index 457
match 52
ഝികി ഝികി തക്കം തെയ് [3]
 start index 25 End index 51
match 53
ഝികി ഝികി തക്കം തെയ് [3]
 start index 207 End index 233
match 54
മൂവന്തിയാളിരേ [2]
 start index 92 End index 111
match 55
ഒരു നാളും തമ്മിൽ തമ്മിൽ മിണ്ടാതിനി വയ്യല്ലോ[2]
 start index 352 End index 400
match 56
പേരാറ്റിൽ പൂഞ്ചുഴികൾക്കു തണുപ്പും പോരാ [2]
 start index 445 End index 489
match 57
പൂട്ടിയുറങ്ങൂ നീ [2]
 start index 247 End index 269
match 58
നിന്റെ ചിരി മാത്രം [2]
 start index 422 End index 446
match 59
അണി മയിലാഞ്ചിയും അത്തറും പൂശി കസവിട്ട മണീത്തട്ടമണിഞ്ഞാട്ടേ [2]
 start index 327 End index 391
match 60
മണിയറക്കൂട്ടിലെ മാണിക്ക്യ പ്രാവിന്റെ കുറുകുന്ന മനസ്സിനിലെന്തലിവാണ് [2]
 start index 747 End index 819
match 61
സൂര്യനെ സ്നേഹിച്ച പൂവിന്റെ മോഹവും സൂര്യനും ദൂരെ എരിഞ്ഞു നില്‍ക്കെ ..[2]
 start index 189 End index 262
match 62
പോക്കു വെയില്‍ നിന്‍ പ്രസാദം.. [2]
 start index 320 End index 356
match 63
വാരി പുണര്‍ന്നു പിന്‍വാങ്ങും തിരയോട് കോരി തരിക്കുന്ന തീരമോതി.. [2]
 start index 434 End index 502
match 64
മണ്‍തരിതന്‍ ആത്മഹര്‍ഷം [2]
 start index 563 End index 591
match 65
വീണ്ടുമുയിര്‍ത്തെഴുന്നേറ്റു [2]
 start index 219 End index 252
match 66
ഒന്നു തലോടുവാന്‍ മോഹം [2]
 start index 112 End index 139
match 67
ചെമ്പനീര്‍ പൂവിനായ് വന്നു ഞാന്‍ [2]
 start index 178 End index 215
match 68
വെള്ളരിപ്രാവിനായ് വന്നു ഞാന്‍ [2]
 start index 325 End index 360
match 69
വൈശാഖ രാവിൽ വഴി മാറി വന്ന വെണ്മുകിലേ [2]
 start index 123 End index 165
match 70
വഴിമാറി വന്നു മുളം തണ്ടിലേറിയ പൂന്തെന്നലേ [2]
 start index 258 End index 305
match 71
സ്വർഗ്ഗീയ സൗന്ദര്യം [2]
 start index 324 End index 349
match 72
ഈ മധുരവും ഒരു നാളിൽ കൈയ്ക്കും [2]
 start index 463 End index 498
match 73
ആ പ്രേമചഷകം എവിടെ [2]
 start index 552 End index 575
match 74
സത്യമേവ ജയതേ... [4]
 start index 104 End index 125